<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>학생 추가</h3>
    <div class="student_info">
        <form action="write" method="post">
            학번: <input type="number" name="id">
            이름: <input type="text" name="name"><br>
            영문 이름: <input type="text" name="engName"><br>
            전공: <input type="text" name="major"><br>
            전화번호: <input type="number" name="phone"><br>
            학년: <input type="text" name="grade"><br>
            출생: <input type="date" name="birth"><br>
            분반: <input type="text" name="className"><br>
            주소: <input type="text" name="address"><br>
            <button type="submit">추가</button>
        </form>
    </div>
</body>
</html>